/**
 * Config: Colors
 * -----------------------------------------------------------------------------
 * Universal variables that have common roles and usages throughout the theme.
 *
 */


/**
*   Cards
*/
$COLOR_PURPLE: #733FC8;
$COLOR_GREY: #48556A;
$COLOR_WHITE: #FFFFFF;
$COLOR_DARK_BLUE: #19202D;
/**
*   Background
*/
$COLOR_BG: #ECF2F8;

/**
*   Typography
*/
$COLOR_HEADLINE: $COLOR_WHITE;
$COLOR_HEADLINE_INVERSE: $COLOR_GREY;
$COLOR_BODY: #BABCC0;
$COLOR_BODY_INVERSE:#7F8897;
$COLOR_NAME: $COLOR_WHITE;
$COLOR_NAME_INVERSE: $COLOR_GREY;
$COLOR_ACCOUNT: #A3AAB4;
/**
*   Borders
*/
$COLOR_BORDER_INVERSE: #A775F1;